body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-container {
  max-width: 980px;
  margin: auto;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  height: 50px;
  background-color: #47cfac;
  display: grid;
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}
header .header-icons-container .icons span {
  color: white;
  font-size: 35px;
}
header .header-icons-container .icons span:hover {
  color: white;
  font-size: 45px;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
}
nav .nav-logo-container {
  margin-left: 50px;
}
nav .nav-logo-container img {
  margin-top: 0px;
  width: 120px;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  font-family: "Roboto";
}
nav .profile-link a:hover {
  background-color: #96f0d9;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  text-align: center;
}
nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
  font-size: larger;
}
main .main-container {
  background-image: url(https://images.pexels.com/photos/4665064/pexels-photo-4665064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
main .main-title-container {
  display: grid;
  align-items: center;
  justify-items: center;
}
main .main-title {
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 75px;
}
main .main-button-container {
  display: grid;
  align-items: center;
  justify-items: center;
}
#super-main-container {
  height: 100%;
}
main .main-button {
  background-color: #47cfac;
  border: 0px;
  height: 30px;
  width: 175px;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 9px;
}
main .main-button:hover {
  background-color: #96f0d9;
}
main .main-button a {
  font-size: 19px;
  font-family: "Roboto";
}

/* estilos de blogs.html*/

.blogs-main {
  display: grid;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0px 50px 40px;
}
.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.blogs-news-img-container {
  grid-column: 1;
}
.blogs-news-img-container img {
  width: 85%;
}
.blogs-news-info-container p {
  margin-bottom: 35px;
}
.blogs-posts-container {
  padding: 0 50px 40px;
}
.blogs-posts-container h3 {
  border-bottom: 1px solid #e6e9ed;
  padding-bottom: 20px;
  text-align: center;
}
.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #47cfac;
}
.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
  width: 100%;
}

/* footer styles*/

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}
footer p {
  color: aliceblue;
  margin-top: 30px;
}

/* blog styles*/

.blogpost-img-container {
  padding: 0px 50px 40px;
}
.blogpost-img-container img {
  width: 100%;
}
.blogpost-main-container {
  padding: 0 50px 40px;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #e6e9ed;
  padding-bottom: 20px;
}
.blogpost-main-container article h1 {
  font-size: 35px;
}

/* contact styles*/

.contact-main-container {
  height: 300px;
  align-content: center;
  width: 100%;
  background-color: #e6e9ed;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
}
.contact-main-container .contact-left {
  grid-column: 2;
}
.contact-main-container .contact {
  display: grid;
  grid-template-columns: fit-content(35px) 1fr;
}
.contact-img {
  width: 90px;
}
.contact .contact-text-container {
  padding: 10px;
  margin: 5px;
}
.contact .contact-text-container a {
  border-bottom: 1px solid black;
}
.contact .contact-text-container a:hover {
  background-color: #96f0d9;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  text-align: center;
}
.contact .contact-text-container p {
  padding-right: 90px;
}

/* estilos del perfil*/

.perfil-main {
  display: grid;
}
.perfil-news-container {
  background-color: #e6e9ed;
  padding: 0px 50px 40px;
}
.perfil-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.perfil-news-img-container {
  grid-column: 1;
}
.perfil-news-img-container img {
  width: 85%;
}
.perfil-news-info-container p {
  margin-bottom: 35px;
}
.perfil-posts-container {
  padding: 0 50px 40px;
}
.perfil-posts-container h3 {
  border-bottom: 1px solid #e6e9ed;
  padding-bottom: 20px;
  text-align: center;
}
.perfil-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #47cfac;
}
.perfil-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.perfil-posts-container .post-container p {
  margin-bottom: 35px;
}
.perfil-posts-container .post-container img {
  width: 100%;
}
