@media (max-width: 850px) {
  .blogs-main-new {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
  .blogs-new-img-container {
    grid-row: 2;
  }
  .blog-new-info-container {
    grid-row: 3;
    grid-column: 1;
  }
  .blogs-posts-container .post-container {
    max-width: 45%;
  }
  .blogs-news-img-container img {
    width: 100%;
  }

  .perfil-main-new {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
  .perfil-new-img-container {
    grid-row: 2;
  }
  .perfil-new-info-container {
    grid-row: 3;
    grid-column: 1;
  }
  .perfil-posts-container .post-container {
    max-width: 45%;
  }
  .perfil-news-img-container img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .blogs-posts-container .post-container {
    max-width: 95%;
  }
  .perfil-posts-container .post-container {
    max-width: 95%;
  }
  .contact-main-container {
    display: block;
  }
  .contact-main-container .contact {
    margin-top: 20px;
  }
}
